


/* editing header */
header{
    display: flex;
    width: 100%;
    background-color: white;

}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#searchBar{
    display: flex;
    gap: 25px;
    align-items: center;
}

#nav-search-icons{
    display: flex;
    gap: 10px;
}

#search {
    border: 1px solid gray;
    height: 30px;
    border-radius: 5%;

}

#settings {
    width: 150px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
}

.fa-bell{
    color: black;
}

#profile-img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
}

#profile-img img{
    width: 100%;
    object-fit: contain;
    border-radius: 100%;
    position: relative;
    top: 15%;

}


main{
    display: grid;
    grid-template-columns: 15% 1fr 10% ;
   background-color: green;
   width: 100vw;  
}


/* Side menu */


#side-menu{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    width: 100%;
}

/* target all sections */
.main-side-menu{
    display: flex;
    flex-direction: column;
}

/* target h2 in section  */
.main-side-menu h2 {
    font-size: 20px;
    font-weight: bold;
}

 .menudiv{
    display: flex;
    align-items: center;
    gap: 10px;
  
}


#simple{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(194, 184, 184);
    width: 150px;
    height: 150px;
    border-radius: 15%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;

}

#simple img {
    width: 50px;
    position: absolute;
    top: -20%;
    left: 25%;
}

#simple h3{
    font-size: 16px;
    text-align: center;
}

#simple button {
    width: 100px;
    align-self: center;
    font-size: 10px;
    background-color: rgb(41, 39, 39);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;

}

/* ends here */
#side-menu{
    background-color: aqua;
}

#main-content{
    background-color: violet;
}


#side-icon-nav{
    background-color: purple;
}


footer{
    width: 100vw;
    height: 20vh;
     background-color: black;

}